@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
body, html {
  height: 100%;
  overflow: hidden;
}
.background {
background: linear-gradient(rgb(65, 67, 69),rgb(35, 37, 38));
  background-repeat: no-repeat;
  background-size: cover;
}
.background-sunny {
  background: linear-gradient(rgba(39, 174, 96,0.3),rgba(39, 174, 96,0.3)), url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.background-rainy {
  background: linear-gradient(rgba(39, 174, 96,0.3),rgba(39, 174, 96,0.3)), url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.background-snowy {
  background: linear-gradient(rgba(39, 174, 96,0.3),rgba(39, 174, 96,0.3)), url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.background-cloudy {
  background: linear-gradient(rgba(39, 174, 96,0.3),rgba(39, 174, 96,0.3)), url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 768px) {
// MENU
.menu {
  height: 100%;
  width: 45px;
  background-color: #111;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  }
.under {
  height: 100%;
  width: 45px;
  display: block;
    display: inline-block;
  }
.logos {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
.logos img {
  margin: 30px 0;
}
.selector {
  width: 5px;
  height: 50px;
  position: fixed;
  background-color: white;
  top: 10%;
  left: -8px;
  z-index: 2;
  transform: translateY(-10%);
  transition: all 0.5s ease;
  }
}
.container {
  width: 100%;
  height: 100%;
}
.weather {
  display: inline-block;
  width: 80%;
  height: 80%;
  border-radius: 10px;
  background-color: white;
  margin: 25%;
}
.info-more {
  background-color: white;
  color: black;
  font-size: 1vh;
}