@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
body {
  font-family: "Open Sans", sans-serif;
  background-color: #1D1E22;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.myInput {
  width: 200px;
  height: 120px;
  overflow: hidden;
}
html {
  font-size: calc( 12px + (24 - 12) * ((100vmin - 400px) / (800 - 400)));
}
html,
body {
  height: 100%;
}
.calculator {
  width: 100%;
  height: 100%;
  background-color: white;
}
.myInput {
  color: white;
  letter-spacing: 1px;
  font-size: 2rem;
  height: 30%;
  width: 100%;
  background: linear-gradient(#EB3349, #EB3349);
  overflow-x: initial;
}
.myInput {
  padding-left: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.myInput::-webkit-scrollbar {
  background-color: rgba(255,255,255,0.2);
}
.myInput::-webkit-scrollbar-button {
  display: none;
}
.myInput::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,0.8);
}
.body {
  height: 70%;
  width: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}
.box {
  background-color: #1D1E22;
  text-align: center;
  color: #ecf0f1;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
}
.box:hover {
  background-color: #2d2e33;
  transition: all 0.2s ease;
}
span {
  font-size: 2.2rem;
  user-select: none;
}
.box18{
  border-top: 3px solid;
  border-left: 3px solid;
}
.box1,
.box7,
.box18 {
  font-weight: 600;
}
.box1 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.box2 {
  grid-column: 2/3;
  grid-row: 1/2;
}
.box7 {
  grid-column: 3/4;
  grid-row: 1/2;
}
.box9 {
  grid-column: 1/2;
  grid-row: 2/3;
}
.box10 {
  grid-column: 2/3;
  grid-row: 2/3;
}
.box11 {
  grid-column: 3/4;
  grid-row: 2/3;
}
.box4 {
  grid-column: 4/5;
  grid-row: 1/2;
}
.box12 {
  grid-column: 1/2;
  grid-row: 3/4;
}
.box13 {
  grid-column: 2/3;
  grid-row: 3/4;
}
.box14 {
  grid-column: 3/4;
  grid-row: 3/4;
}
.box3 {
  grid-column: 4/5;
  grid-row: 2/3;
}
.box15 {
  grid-column: 1/2;
  grid-row: 4/5;
}
.box16 {
  grid-column: 2/3;
  grid-row: 4/5;
}
.box17 {
  grid-column: 3/4;
  grid-row: 4/5;
}
.box5 {
  grid-column: 4/5;
  grid-row: 3/4;
}
.box8 {
  grid-column: 1/3;
  grid-row: 5/6;
}
.box6 {
  grid-column: 3/4;
  grid-row: 5/6;
}
.box18 {
  color: #EF4546;
  grid-column: 4/5;
  grid-row: 4/6;
}
.box19 {
  grid-column: 3/4;
  grid-row: 5/6;
}